*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Changes the default 16px font size to 10px */
html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Bellefair", serif;
  position: relative;
}

/*************** DESKTOP VIEW ***************/

/* DESKTOP HEADER */
header {
  max-width: 137rem;
  margin: 0 auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.line {
  position: absolute;
  width: 43.3rem;
  height: 0.11rem;
  z-index: 2;
  top: 5rem;
  left: 15rem;
  background: rgba(255, 255, 255, 0.25);
}

.nav-list {
  display: flex;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1.777rem);
  padding: 0 16.5rem 0 12.5rem;
}

.nav-list li {
  list-style: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  margin-left: 4rem;
  padding: 4rem 0 4rem 0;
  color: #5e607a;
  transition: all 0.2s ease-in-out;
}

.nav-list li:hover {
  cursor: pointer;
  box-shadow: inset 0 -0.3rem 0 0 #fff;
  transition: all 0.2s ease-in-out;
}

.nav-list li span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.nav-list li {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
  color: #fff;
  text-transform: uppercase;
}

.hamburger,
.mobile-menu {
  display: none;
}

/* DESKTOP MAIN */
.background-img-desktop {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.background-img-tablet {
  display: none;
}

.background-img-mobile {
  display: none;
}

/* INFO SECTION */
.info {
  position: absolute;
  top: 38.7rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 74vw;
  max-width: 105rem;
  z-index: 2;
}

.info-txt > h3 {
  font-family: "Barlow Condensed";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.425rem;
  color: #d0d6f9;
  margin-bottom: 2.4rem;
}

.info-txt > h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 17.2rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.info-txt > p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  width: 44.5rem;
}

.info-explore {
  background-color: #fff;
  width: 27.4rem;
  height: 27.4rem;
  border-radius: 50%;
  position: relative;
}

.info-explore > p {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  text-transform: uppercase;
  width: 27.4rem;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
}

/*************** TABLET VIEW ***************/
@media screen and (max-width: 768px) {
  /* TABLET HEADER */
  .navbar {
    margin-left: 4rem;
    margin-top: 0;
  }

  .line {
    display: none;
  }

  .nav-list {
    padding: 0 7.8rem 0 4.8rem;
  }

  .nav-list li:nth-of-type(1) {
    margin-left: 0;
  }

  .nav-list li span {
    display: none;
  }

  /* TABLET MAIN */

  .background-img-desktop {
    display: none;
  }

  .background-img-tablet {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }

  /* INFO SECTION */
  .info {
    top: 20rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .info-txt {
    text-align: center;
  }

  .info-txt > h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.3rem;
  }

  .info-txt > h1 {
    line-height: 15rem;
  }

  .info-txt > p {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }

  .info-explore {
    margin-top: 15.6rem;
  }
}

/*************** MOBILE VIEW ***************/

@media screen and (max-width: 375px) {
  /* MOBILE MAIN */
  .background-img-tablet {
    display: none;
  }

  .background-img-mobile {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }
  /* MOBILE MENU & SIDEBAR */

  .navbar {
    margin: 2.4rem 2.4rem 0 2.4rem;
    width: 87.03%;
  }

  .hamburger,
  .mobile-menu {
    display: block;
    z-index: 2;
  }

  .mobile-menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1.777rem);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    width: 25.6rem;
    height: 100vh;
    padding: 14.4rem 3rem 0 3rem;
    box-shadow: 2px 5px 25px rgb(0, 0, 0 /15%);
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  .mobile-menu.open {
    transform: translateX(0);
    opacity: 1;
  }

  .close-btn {
    position: absolute;
    top: 3rem;
    right: 2rem;
    cursor: pointer;
  }

  .sidebar-list li span {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
  }

  .sidebar-list li {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 3.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 2vh;
  }

  .sidebar-list li:hover {
    cursor: pointer;
    box-shadow: inset 0 -0.3rem 0 0 #fff;
    transition: all 0.2s ease-in-out;
    padding-bottom: 0.5rem;
  }

  /* MOBILE HEADER */
  .nav-list {
    display: none;
  }

  /* INFO SECTION */
  .info-txt > h3 {
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
  }

  .info-txt > h1 {
    font-size: 8rem;
    line-height: 10rem;
  }

  .info-txt > p {
    width: 30rem;
  }

  .info-explore {
    margin-top: 8rem;
  }
}
