*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Changes the default 16px font size to 10px */
html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Bellefair", serif;
  position: relative;
}

/*************** DESKTOP VIEW ***************/

/* DESKTOP HEADER */
header {
  max-width: 137rem;
  margin: 0 auto;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.line {
  position: absolute;
  width: 43.3rem;
  height: 0.11rem;
  z-index: 2;
  top: 5rem;
  left: 15rem;
  background: rgba(255, 255, 255, 0.25);
}

.nav-list {
  display: flex;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1.777rem);
  padding: 0 16.5rem 0 12.5rem;
}

.nav-list li {
  list-style: none;
  padding: 4rem 0 4rem 0;
}

.nav-list li a {
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-left: 4rem;
  letter-spacing: 0.27rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-list li a:hover {
  cursor: pointer;
  box-shadow: inset 0 -0.3rem 0 0 #fff;
  padding-bottom: 4rem;
  transition: all 0.2s ease-in-out;
}

.nav-list li a span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.hamburger,
.mobile-menu {
  display: none;
}
/* DESKTOP MAIN */
.background-img-desktop {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* z-index: 1; */
}

.background-img-tablet {
  display: none;
}

.background-img-mobile {
  display: none;
}

/* DESKTOP INFO SECTION DESTINATION */
main {
  position: relative;
}

.info-section {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 74vw;
  max-width: 105rem;
  z-index: 2;
}

.info-section-title span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  mix-blend-mode: normal;
  padding-right: 2.8rem;
  opacity: 0.25;
}

.info-section-title h2 {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: 0.47rem;
  text-transform: uppercase;
  color: #ffffff;
}

.info-section-planets {
  display: flex;
  justify-content: space-between;
  margin-top: 6.4rem;
  color: #fff;
}

.info-section-main {
  width: 44.4rem;
}

.info-section-main ul {
  display: flex;
  margin-bottom: 4.5rem;
}

.info-section-main ul li {
  list-style: none;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  margin-left: 3.5rem;
  color: #d0d6f9;
  text-transform: uppercase;
  height: 2vh;
  transition: all 0.2s ease-in-out;
}

.info-section-main ul li:hover {
  cursor: pointer;
  box-shadow: inset 0 -0.3rem 0 0 #fff;
  transition: all 0.2s ease-in-out;
  padding-bottom: 0.5rem;
  color: #ffffff;
}

.info-section-main ul li:nth-child(1) {
  margin-left: 0;
}

.info-section-main h2 {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 10rem;
  text-transform: uppercase;
  color: #ffffff;
}

.info-section-main > p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #fff;
  opacity: 0.8;
  padding-bottom: 5.4rem;
  border-bottom: 1px solid #383b4b;
}

.info-section-distance-time {
  display: flex;
  margin-top: 2.8rem;
}

.distance span {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  color: #d0d6f9;
}

.distance p {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
  color: #ffffff;
}

.time {
  margin-left: 7.9rem;
}

.time span {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  color: #d0d6f9;
}

.time p {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-top: 1.2rem;
  color: #ffffff;
}

/*************** TABLET VIEW ***************/
@media screen and (max-width: 768px) {
  /* TABLET HEADER */
  .navbar {
    margin-left: 4rem;
    margin-top: 0;
  }

  .line {
    display: none;
  }

  .nav-list {
    padding: 0 7.8rem 0 4.8rem;
  }

  .nav-list li:nth-of-type(1) a {
    margin-left: 0;
  }

  .nav-list li a {
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.23rem;
  }

  .nav-list li span {
    display: none;
  }
  /* TABLET MAIN */
  .background-img-desktop {
    display: none;
  }

  .background-img-tablet {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  /* TABLET INFO SECTION DESTINATION */
  .info-section {
    width: 88vw;
  }

  .info-section-title span {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.33rem;
  }

  .info-section-title h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.33rem;
  }

  .info-section-planets {
    flex-direction: column;
    align-items: center;
  }

  .info-section-main {
    width: 51.4rem;
    text-align: center;
  }

  .info-section-main ul {
    justify-content: center;
    margin-top: 5.3rem;
  }

  .info-section-main h2 {
    font-size: 8rem;
    line-height: 9.2rem;
    margin-bottom: 3rem;
  }

  .info-section-main > p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .info-section-distance-time {
    justify-content: center;
  }
}

/*************** MOBILE VIEW ***************/

@media screen and (max-width: 375px) {
  /* MOBILE MAIN */
  .background-img-tablet {
    display: none;
  }

  .background-img-mobile {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* z-index: 1; */
  }

  /* MOBILE MENU & SIDEBAR */

  .navbar {
    margin: 2.4rem 2.4rem 0 2.4rem;
    width: 87.03%;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger,
  .mobile-menu {
    display: block;
    z-index: 2;
  }

  .mobile-menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(1.777rem);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    width: 25.6rem;
    height: 100vh;
    padding: 14.4rem 3rem 0 3rem;
    box-shadow: 2px 5px 25px rgb(0, 0, 0 /15%);
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  .mobile-menu.open {
    transform: translateX(0);
    opacity: 1;
  }

  .close-btn {
    position: absolute;
    top: 3rem;
    right: 2rem;
    cursor: pointer;
  }

  .sidebar-list li {
    list-style: none;
    margin-bottom: 3.2rem;
    cursor: pointer;
  }

  .sidebar-list li span {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
  }

  .sidebar-list li a {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    height: 2vh;
  }

  .sidebar-list li a:hover {
    cursor: pointer;
    box-shadow: inset 0 -0.3rem 0 0 #fff;
    transition: all 0.2s ease-in-out;
    padding-bottom: 0.5rem;
  }

  /* MOBILE HEADER */
  .nav-list {
    display: none;
  }

  /* MOBILE INFO SECTION DESTINATION */
  .info-section-title {
    text-align: center;
  }

  .info-section-planets {
    margin-top: 3.2rem;
  }

  .info-section-planet > img {
    width: 17rem;
  }

  .info-section-title span {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    padding-right: 1.8rem;
  }

  .info-section-title h2 {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
  }

  .info-section-main {
    width: 32rem;
  }

  .info-section-main ul {
    margin: 2.6rem 0 2rem 0;
  }

  .info-section-main ul li {
    font-size: 1.4rem;
    letter-spacing: 0.23rem;
  }

  .info-section-main h2 {
    font-size: 5.6rem;
    margin-bottom: 0;
  }

  .info-section-main > p {
    padding-bottom: 3.2rem;
  }

  .info-section-distance-time {
    flex-direction: column;
  }

  .time {
    margin: 3.2rem 0 0 0;
  }
}
